<select
  name="country-selector"
  class="country-selector"
  id="country-selector-<%= direction %>"
>
  
  <option value="ABH">{"iso2":"AB","name":"Абхазия"}</option>
  
  <option value="AUS">{"iso2":"AU","name":"Австралия"}</option>
  
  <option value="AUT">{"iso2":"AT","name":"Австрия"}</option>
  
  <option value="AZE">{"iso2":"AZ","name":"Азербайджан"}</option>
  
  <option value="ALB">{"iso2":"AL","name":"Албания"}</option>
  
  <option value="DZA">{"iso2":"DZ","name":"Алжир"}</option>
  
  <option value="ASM">{"iso2":"AS","name":"Американское Самоа"}</option>
  
  <option value="AIA">{"iso2":"AI","name":"Ангилья"}</option>
  
  <option value="AGO">{"iso2":"AO","name":"Ангола"}</option>
  
  <option value="AND">{"iso2":"AD","name":"Андорра"}</option>
  
  <option value="ATA">{"iso2":"AQ","name":"Антарктида"}</option>
  
  <option value="ATG">{"iso2":"AG","name":"Антигуа и Барбуда"}</option>
  
  <option value="ARG">{"iso2":"AR","name":"Аргентина"}</option>
  
  <option value="ARM">{"iso2":"AM","name":"Армения"}</option>
  
  <option value="ABW">{"iso2":"AW","name":"Аруба"}</option>
  
  <option value="AFG">{"iso2":"AF","name":"Афганистан"}</option>
  
  <option value="BHS">{"iso2":"BS","name":"Багамы"}</option>
  
  <option value="BGD">{"iso2":"BD","name":"Бангладеш"}</option>
  
  <option value="BRB">{"iso2":"BB","name":"Барбадос"}</option>
  
  <option value="BHR">{"iso2":"BH","name":"Бахрейн"}</option>
  
  <option value="BLR">{"iso2":"BY","name":"Беларусь"}</option>
  
  <option value="BLZ">{"iso2":"BZ","name":"Белиз"}</option>
  
  <option value="BEL">{"iso2":"BE","name":"Бельгия"}</option>
  
  <option value="BEN">{"iso2":"BJ","name":"Бенин"}</option>
  
  <option value="BMU">{"iso2":"BM","name":"Бермуды"}</option>
  
  <option value="BGR">{"iso2":"BG","name":"Болгария"}</option>
  
  <option value="BOL">{"iso2":"BO","name":"Боливия, Многонациональное Государство"}</option>
  
  <option value="BES">{"iso2":"BQ","name":"Бонайре, Саба и Синт-Эстатиус"}</option>
  
  <option value="BIH">{"iso2":"BA","name":"Босния и Герцеговина"}</option>
  
  <option value="BWA">{"iso2":"BW","name":"Ботсвана"}</option>
  
  <option value="BRA">{"iso2":"BR","name":"Бразилия"}</option>
  
  <option value="IOT">{"iso2":"IO","name":"Британская территория в Индийском океане"}</option>
  
  <option value="BRN">{"iso2":"BN","name":"Бруней-Даруссалам"}</option>
  
  <option value="BFA">{"iso2":"BF","name":"Буркина-Фасо"}</option>
  
  <option value="BDI">{"iso2":"BI","name":"Бурунди"}</option>
  
  <option value="BTN">{"iso2":"BT","name":"Бутан"}</option>
  
  <option value="VUT">{"iso2":"VU","name":"Вануату"}</option>
  
  <option value="HUN">{"iso2":"HU","name":"Венгрия"}</option>
  
  <option value="VEN">{"iso2":"VE","name":"Венесуэла Боливарианская Республика"}</option>
  
  <option value="VGB">{"iso2":"VG","name":"Виргинские острова, Британские"}</option>
  
  <option value="VIR">{"iso2":"VI","name":"Виргинские острова, США"}</option>
  
  <option value="VNM">{"iso2":"VN","name":"Вьетнам"}</option>
  
  <option value="GAB">{"iso2":"GA","name":"Габон"}</option>
  
  <option value="HTI">{"iso2":"HT","name":"Гаити"}</option>
  
  <option value="GUY">{"iso2":"GY","name":"Гайана"}</option>
  
  <option value="GMB">{"iso2":"GM","name":"Гамбия"}</option>
  
  <option value="GHA">{"iso2":"GH","name":"Гана"}</option>
  
  <option value="GLP">{"iso2":"GP","name":"Гваделупа"}</option>
  
  <option value="GTM">{"iso2":"GT","name":"Гватемала"}</option>
  
  <option value="GIN">{"iso2":"GN","name":"Гвинея"}</option>
  
  <option value="GNB">{"iso2":"GW","name":"Гвинея-Бисау"}</option>
  
  <option value="DEU">{"iso2":"DE","name":"Германия"}</option>
  
  <option value="GGY">{"iso2":"GG","name":"Гернси"}</option>
  
  <option value="GIB">{"iso2":"GI","name":"Гибралтар"}</option>
  
  <option value="HND">{"iso2":"HN","name":"Гондурас"}</option>
  
  <option value="HKG">{"iso2":"HK","name":"Гонконг"}</option>
  
  <option value="GRD">{"iso2":"GD","name":"Гренада"}</option>
  
  <option value="GRL">{"iso2":"GL","name":"Гренландия"}</option>
  
  <option value="GRC">{"iso2":"GR","name":"Греция"}</option>
  
  <option value="GEO">{"iso2":"GE","name":"Грузия"}</option>
  
  <option value="GUM">{"iso2":"GU","name":"Гуам"}</option>
  
  <option value="DNK">{"iso2":"DK","name":"Дания"}</option>
  
  <option value="JEY">{"iso2":"JE","name":"Джерси"}</option>
  
  <option value="DJI">{"iso2":"DJ","name":"Джибути"}</option>
  
  <option value="DMA">{"iso2":"DM","name":"Доминика"}</option>
  
  <option value="DOM">{"iso2":"DO","name":"Доминиканская Республика"}</option>
  
  <option value="EGY">{"iso2":"EG","name":"Египет"}</option>
  
  <option value="ZMB">{"iso2":"ZM","name":"Замбия"}</option>
  
  <option value="ESH">{"iso2":"EH","name":"Западная Сахара"}</option>
  
  <option value="ZWE">{"iso2":"ZW","name":"Зимбабве"}</option>
  
  <option value="ISR">{"iso2":"IL","name":"Израиль"}</option>
  
  <option value="IND">{"iso2":"IN","name":"Индия"}</option>
  
  <option value="IDN">{"iso2":"ID","name":"Индонезия"}</option>
  
  <option value="JOR">{"iso2":"JO","name":"Иордания"}</option>
  
  <option value="IRQ">{"iso2":"IQ","name":"Ирак"}</option>
  
  <option value="IRN">{"iso2":"IR","name":"Иран, Исламская Республика"}</option>
  
  <option value="IRL">{"iso2":"IE","name":"Ирландия"}</option>
  
  <option value="ISL">{"iso2":"IS","name":"Исландия"}</option>
  
  <option value="ESP">{"iso2":"ES","name":"Испания"}</option>
  
  <option value="ITA">{"iso2":"IT","name":"Италия"}</option>
  
  <option value="YEM">{"iso2":"YE","name":"Йемен"}</option>
  
  <option value="CPV">{"iso2":"CV","name":"Кабо-Верде"}</option>
  
  <option value="KAZ">{"iso2":"KZ","name":"Казахстан"}</option>
  
  <option value="KHM">{"iso2":"KH","name":"Камбоджа"}</option>
  
  <option value="CMR">{"iso2":"CM","name":"Камерун"}</option>
  
  <option value="CAN">{"iso2":"CA","name":"Канада"}</option>
  
  <option value="QAT">{"iso2":"QA","name":"Катар"}</option>
  
  <option value="KEN">{"iso2":"KE","name":"Кения"}</option>
  
  <option value="CYP">{"iso2":"CY","name":"Кипр"}</option>
  
  <option value="KGZ">{"iso2":"KG","name":"Киргизия"}</option>
  
  <option value="KIR">{"iso2":"KI","name":"Кирибати"}</option>
  
  <option value="CHN">{"iso2":"CN","name":"Китай"}</option>
  
  <option value="CCK">{"iso2":"CC","name":"Кокосовые (Килинг) острова"}</option>
  
  <option value="COL">{"iso2":"CO","name":"Колумбия"}</option>
  
  <option value="COM">{"iso2":"KM","name":"Коморы"}</option>
  
  <option value="COG">{"iso2":"CG","name":"Конго"}</option>
  
  <option value="COD">{"iso2":"CD","name":"Конго, Демократическая Республика"}</option>
  
  <option value="PRK">{"iso2":"KP","name":"Корея, Народно-Демократическая Республика"}</option>
  
  <option value="KOR">{"iso2":"KR","name":"Корея, Республика"}</option>
  
  <option value="CRI">{"iso2":"CR","name":"Коста-Рика"}</option>
  
  <option value="CIV">{"iso2":"CI","name":"Кот д'Ивуар"}</option>
  
  <option value="CUB">{"iso2":"CU","name":"Куба"}</option>
  
  <option value="KWT">{"iso2":"KW","name":"Кувейт"}</option>
  
  <option value="CUW">{"iso2":"CW","name":"Кюрасао"}</option>
  
  <option value="LAO">{"iso2":"LA","name":"Лаос"}</option>
  
  <option value="LVA">{"iso2":"LV","name":"Латвия"}</option>
  
  <option value="LSO">{"iso2":"LS","name":"Лесото"}</option>
  
  <option value="LBN">{"iso2":"LB","name":"Ливан"}</option>
  
  <option value="LBY">{"iso2":"LY","name":"Ливийская Арабская Джамахирия"}</option>
  
  <option value="LBR">{"iso2":"LR","name":"Либерия"}</option>
  
  <option value="LIE">{"iso2":"LI","name":"Лихтенштейн"}</option>
  
  <option value="LTU">{"iso2":"LT","name":"Литва"}</option>
  
  <option value="LUX">{"iso2":"LU","name":"Люксембург"}</option>
  
  <option value="MUS">{"iso2":"MU","name":"Маврикий"}</option>
  
  <option value="MRT">{"iso2":"MR","name":"Мавритания"}</option>
  
  <option value="MDG">{"iso2":"MG","name":"Мадагаскар"}</option>
  
  <option value="MYT">{"iso2":"YT","name":"Майотта"}</option>
  
  <option value="MAC">{"iso2":"MO","name":"Макао"}</option>
  
  <option value="MWI">{"iso2":"MW","name":"Малави"}</option>
  
  <option value="MYS">{"iso2":"MY","name":"Малайзия"}</option>
  
  <option value="MLI">{"iso2":"ML","name":"Мали"}</option>
  
  <option value="UMI">{"iso2":"UM","name":"Малые Тихоокеанские отдаленные острова Соединенных Штатов"}</option>
  
  <option value="MDV">{"iso2":"MV","name":"Мальдивы"}</option>
  
  <option value="MLT">{"iso2":"MT","name":"Мальта"}</option>
  
  <option value="MAR">{"iso2":"MA","name":"Марокко"}</option>
  
  <option value="MTQ">{"iso2":"MQ","name":"Мартиника"}</option>
  
  <option value="MHL">{"iso2":"MH","name":"Маршалловы острова"}</option>
  
  <option value="MEX">{"iso2":"MX","name":"Мексика"}</option>
  
  <option value="FSM">{"iso2":"FM","name":"Микронезия, Федеративные Штаты"}</option>
  
  <option value="MOZ">{"iso2":"MZ","name":"Мозамбик"}</option>
  
  <option value="MDA">{"iso2":"MD","name":"Молдова, Республика"}</option>
  
  <option value="MCO">{"iso2":"MC","name":"Монако"}</option>
  
  <option value="MNG">{"iso2":"MN","name":"Монголия"}</option>
  
  <option value="MSR">{"iso2":"MS","name":"Монтсеррат"}</option>
  
  <option value="MMR">{"iso2":"MM","name":"Мьянма"}</option>
  
  <option value="NAM">{"iso2":"NA","name":"Намибия"}</option>
  
  <option value="NRU">{"iso2":"NR","name":"Науру"}</option>
  
  <option value="NPL">{"iso2":"NP","name":"Непал"}</option>
  
  <option value="NER">{"iso2":"NE","name":"Нигер"}</option>
  
  <option value="NGA">{"iso2":"NG","name":"Нигерия"}</option>
  
  <option value="NLD">{"iso2":"NL","name":"Нидерланды"}</option>
  
  <option value="NIC">{"iso2":"NI","name":"Никарагуа"}</option>
  
  <option value="NIU">{"iso2":"NU","name":"Ниуэ"}</option>
  
  <option value="NZL">{"iso2":"NZ","name":"Новая Зеландия"}</option>
  
  <option value="NCL">{"iso2":"NC","name":"Новая Каледония"}</option>
  
  <option value="NOR">{"iso2":"NO","name":"Норвегия"}</option>
  
  <option value="ARE">{"iso2":"AE","name":"Объединенные Арабские Эмираты"}</option>
  
  <option value="OMN">{"iso2":"OM","name":"Оман"}</option>
  
  <option value="BVT">{"iso2":"BV","name":"Остров Буве"}</option>
  
  <option value="IMN">{"iso2":"IM","name":"Остров Мэн"}</option>
  
  <option value="NFK">{"iso2":"NF","name":"Остров Норфолк"}</option>
  
  <option value="CXR">{"iso2":"CX","name":"Остров Рождества"}</option>
  
  <option value="HMD">{"iso2":"HM","name":"Остров Херд и острова Макдональд"}</option>
  
  <option value="CYM">{"iso2":"KY","name":"Острова Кайман"}</option>
  
  <option value="COK">{"iso2":"CK","name":"Острова Кука"}</option>
  
  <option value="TCA">{"iso2":"TC","name":"Острова Теркс и Кайкос"}</option>
  
  <option value="PAK">{"iso2":"PK","name":"Пакистан"}</option>
  
  <option value="PLW">{"iso2":"PW","name":"Палау"}</option>
  
  <option value="PSE">{"iso2":"PS","name":"Палестинская территория, оккупированная"}</option>
  
  <option value="PAN">{"iso2":"PA","name":"Панама"}</option>
  
  <option value="VAT">{"iso2":"VA","name":"Папский Престол (Государство &mdash; город Ватикан)"}</option>
  
  <option value="PNG">{"iso2":"PG","name":"Папуа-Новая Гвинея"}</option>
  
  <option value="PRY">{"iso2":"PY","name":"Парагвай"}</option>
  
  <option value="PER">{"iso2":"PE","name":"Перу"}</option>
  
  <option value="PCN">{"iso2":"PN","name":"Питкерн"}</option>
  
  <option value="POL">{"iso2":"PL","name":"Польша"}</option>
  
  <option value="PRT">{"iso2":"PT","name":"Португалия"}</option>
  
  <option value="PRI">{"iso2":"PR","name":"Пуэрто-Рико"}</option>
  
  <option value="MKD">{"iso2":"MK","name":"Республика Македония"}</option>
  
  <option value="REU">{"iso2":"RE","name":"Реюньон"}</option>
  
  <option value="RUS">{"iso2":"RU","name":"Россия"}</option>
  
  <option value="RWA">{"iso2":"RW","name":"Руанда"}</option>
  
  <option value="ROU">{"iso2":"RO","name":"Румыния"}</option>
  
  <option value="WSM">{"iso2":"WS","name":"Самоа"}</option>
  
  <option value="SMR">{"iso2":"SM","name":"Сан-Марино"}</option>
  
  <option value="STP">{"iso2":"ST","name":"Сан-Томе и Принсипи"}</option>
  
  <option value="SAU">{"iso2":"SA","name":"Саудовская Аравия"}</option>
  
  <option value="SWZ">{"iso2":"SZ","name":"Свазиленд"}</option>
  
  <option value="SHN">{"iso2":"SH","name":"Святая Елена, Остров вознесения, Тристан-да-Кунья"}</option>
  
  <option value="MNP">{"iso2":"MP","name":"Северные Марианские острова"}</option>
  
  <option value="BLM">{"iso2":"BL","name":"Сен-Бартельми"}</option>
  
  <option value="MAF">{"iso2":"MF","name":"Сен-Мартен"}</option>
  
  <option value="SEN">{"iso2":"SN","name":"Сенегал"}</option>
  
  <option value="VCT">{"iso2":"VC","name":"Сент-Винсент и Гренадины"}</option>
  
  <option value="KNA">{"iso2":"KN","name":"Сент-Китс и Невис"}</option>
  
  <option value="LCA">{"iso2":"LC","name":"Сент-Люсия"}</option>
  
  <option value="SPM">{"iso2":"PM","name":"Сент-Пьер и Микелон"}</option>
  
  <option value="SRB">{"iso2":"RS","name":"Сербия"}</option>
  
  <option value="SYC">{"iso2":"SC","name":"Сейшелы"}</option>
  
  <option value="SGP">{"iso2":"SG","name":"Сингапур"}</option>
  
  <option value="SXM">{"iso2":"SX","name":"Синт-Мартен"}</option>
  
  <option value="SYR">{"iso2":"SY","name":"Сирийская Арабская Республика"}</option>
  
  <option value="SVK">{"iso2":"SK","name":"Словакия"}</option>
  
  <option value="SVN">{"iso2":"SI","name":"Словения"}</option>
  
  <option value="GBR">{"iso2":"GB","name":"Соединенное Королевство"}</option>
  
  <option value="USA">{"iso2":"US","name":"Соединенные Штаты"}</option>
  
  <option value="SLB">{"iso2":"SB","name":"Соломоновы острова"}</option>
  
  <option value="SOM">{"iso2":"SO","name":"Сомали"}</option>
  
  <option value="SDN">{"iso2":"SD","name":"Судан"}</option>
  
  <option value="SUR">{"iso2":"SR","name":"Суринам"}</option>
  
  <option value="SLE">{"iso2":"SL","name":"Сьерра-Леоне"}</option>
  
  <option value="TJK">{"iso2":"TJ","name":"Таджикистан"}</option>
  
  <option value="THA">{"iso2":"TH","name":"Таиланд"}</option>
  
  <option value="TWN">{"iso2":"TW","name":"Тайвань (Китай)"}</option>
  
  <option value="TZA">{"iso2":"TZ","name":"Танзания, Объединенная Республика"}</option>
  
  <option value="TLS">{"iso2":"TL","name":"Тимор-Лесте"}</option>
  
  <option value="TGO">{"iso2":"TG","name":"Того"}</option>
  
  <option value="TKL">{"iso2":"TK","name":"Токелау"}</option>
  
  <option value="TON">{"iso2":"TO","name":"Тонга"}</option>
  
  <option value="TTO">{"iso2":"TT","name":"Тринидад и Тобаго"}</option>
  
  <option value="TUV">{"iso2":"TV","name":"Тувалу"}</option>
  
  <option value="TUN">{"iso2":"TN","name":"Тунис"}</option>
  
  <option value="TKM">{"iso2":"TM","name":"Туркмения"}</option>
  
  <option value="TUR">{"iso2":"TR","name":"Турция"}</option>
  
  <option value="UGA">{"iso2":"UG","name":"Уганда"}</option>
  
  <option value="UZB">{"iso2":"UZ","name":"Узбекистан"}</option>
  
  <option value="UKR">{"iso2":"UA","name":"Украина"}</option>
  
  <option value="WLF">{"iso2":"WF","name":"Уоллис и Футуна"}</option>
  
  <option value="URY">{"iso2":"UY","name":"Уругвай"}</option>
  
  <option value="FRO">{"iso2":"FO","name":"Фарерские острова"}</option>
  
  <option value="FJI">{"iso2":"FJ","name":"Фиджи"}</option>
  
  <option value="PHL">{"iso2":"PH","name":"Филиппины"}</option>
  
  <option value="FIN">{"iso2":"FI","name":"Финляндия"}</option>
  
  <option value="FLK">{"iso2":"FK","name":"Фолклендские острова (Мальвинские)"}</option>
  
  <option value="FRA">{"iso2":"FR","name":"Франция"}</option>
  
  <option value="GUF">{"iso2":"GF","name":"Французская Гвиана"}</option>
  
  <option value="PYF">{"iso2":"PF","name":"Французская Полинезия"}</option>
  
  <option value="ATF">{"iso2":"TF","name":"Французские Южные территории"}</option>
  
  <option value="HRV">{"iso2":"HR","name":"Хорватия"}</option>
  
  <option value="CAF">{"iso2":"CF","name":"Центрально-Африканская Республика"}</option>
  
  <option value="TCD">{"iso2":"TD","name":"Чад"}</option>
  
  <option value="MNE">{"iso2":"ME","name":"Черногория"}</option>
  
  <option value="CZE">{"iso2":"CZ","name":"Чешская Республика"}</option>
  
  <option value="CHL">{"iso2":"CL","name":"Чили"}</option>
  
  <option value="CHE">{"iso2":"CH","name":"Швейцария"}</option>
  
  <option value="SWE">{"iso2":"SE","name":"Швеция"}</option>
  
  <option value="SJM">{"iso2":"SJ","name":"Шпицберген и Ян Майен"}</option>
  
  <option value="LKA">{"iso2":"LK","name":"Шри-Ланка"}</option>
  
  <option value="ECU">{"iso2":"EC","name":"Эквадор"}</option>
  
  <option value="GNQ">{"iso2":"GQ","name":"Экваториальная Гвинея"}</option>
  
  <option value="ALA">{"iso2":"AX","name":"Эландские острова"}</option>
  
  <option value="SLV">{"iso2":"SV","name":"Эль-Сальвадор"}</option>
  
  <option value="ERI">{"iso2":"ER","name":"Эритрея"}</option>
  
  <option value="EST">{"iso2":"EE","name":"Эстония"}</option>
  
  <option value="ETH">{"iso2":"ET","name":"Эфиопия"}</option>
  
  <option value="ZAF">{"iso2":"ZA","name":"Южная Африка"}</option>
  
  <option value="SGS">{"iso2":"GS","name":"Южная Джорджия и Южные Сандвичевы острова"}</option>
  
  <option value="OST">{"iso2":"OS","name":"Южная Осетия"}</option>
  
  <option value="SSD">{"iso2":"SS","name":"Южный Судан"}</option>
  
  <option value="JAM">{"iso2":"JM","name":"Ямайка"}</option>
  
  <option value="JPN">{"iso2":"JP","name":"Япония"}</option>
  
</select>
