.converter-form {
  --border-radius: 0.7rem;
  --align-form-label: 0.6rem;
  --label-distance-from-form: 0.4rem;
}

.converter-form label,
legend {
  color: rgb(172, 172, 172);
}

.align-with-form {
  font-weight: bolder;
  margin-left: var(--align-form-label);
}

.converter-form__main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.converter-form__main__input {
  width: 12rem;
}

.converter-form__main__input label,
input {
  display: block;
}

#converter-form__main__button {
  width: 7rem;
  height: 2rem;
  background-color: rgb(255, 234, 50);
  border-radius: 0.5rem;
}

.amount-input-set {
  display: flex;
}

.amount-input-set input {
  padding: var(--align-form-label);
  width: calc(100% - 2 * var(--align-form-label));
}

.choices__inner,
.amount-input-set input,
select,
button {
  height: 100%;
}

.amount-input-set legend,
.country-selector__label {
  margin-bottom: var(--label-distance-from-form);
}

.amount-input-set section {
  flex-grow: 1;
}

.input-wrapper {
  position: relative;
  border: 1px solid gray;
  height: 2rem;
}

.input-wrapper--overflow {
  overflow: hidden;
}

.input-wrapper--full {
  border-radius: var(--border-radius);
}

.amount-input__wrapper--left {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-right: none;
}

.amount-input__wrapper--right {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-left: none;
}
